*{
  margin: 0;
  font-family: "Medium";
}

@font-face {
  font-family: Medium;
  src: url(./Assets/Fonts/gilroy-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;

}

.App {
  max-width: 1200px;
  margin: 0 auto;
}



